# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/.idea/

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/.dart_tool/

# Other
*.iml
*.lock
*.log
